<!DOCTYPE html>
{% load static  %}   
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Employee Records</title>  
      
    <link rel="stylesheet" href="{% static 'css/sss.css' %}"/>  
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Employee ID</th>  
        <th>Employee Name</th>  
        <th>Employee Subject</th>  
        <th>Employee Branch</th>  
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for employee in emp %}  
    <tr>  
        <td>{{ employee.id }}</td>  
        <td>{{ employee.name }}</td>  
        <td>{{ employee.subject }}</td>  
        <td>{{ employee.branch }}</td>  
        <td>  
            <a href="edit/{{ employee.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="delete/{{ employee.id }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/email_verification/CreateData" class="btn btn-primary">Add New Record</a></center>  
</body>  
</html> 